<div class="courses-panel">

  <!-- <h3>All Courses {{counter()}}</h3> -->

  <button class="btn">
    Add Course
  </button>

  <!-- <button type="button" class="btn" (click)="increment()">Increment</button> -->

  <mat-tab-group>

    <mat-tab label="Beginners">
      <courses-card-list #beginnersList
              [courses]="beginnerCourses()" />
    </mat-tab>

    <mat-tab label="Advanced">
      <courses-card-list
       [courses]="advancedCourses()"/>
    </mat-tab>

  </mat-tab-group>

</div>
